#PERMITE IGNORAR U OMITIR TODOS LOS ARCHIVOS QUE NO SE USARÁN

#Omitir carpetas:
#css/

#Omitir archivos:
#css/style.css

#SE RECOMIENDA HACER UN GIT STATUS CUANDO SE AGREGA UNA ACTUALIZACIÓN

#SE RECOMIENDA QUE TODAS LAS RAMAS SEAN EN MINÚSCULA
